LSPTetrisClient/.vs
LSPTetrisClient/Binaries
LSPTetrisClient/DerivedDataCache
LSPTetrisClient/Intermediate
LSPTetrisClient/Saved
LSPTetrisClient/Plugins/FastChangeLanguage/Binaries
LSPTetrisClient/Plugins/FastChangeLanguage/Intermediate
LSPTetrisClient/.vsconfig